<!doctype html>
<html>

<head>
  <title>Barista On Track</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <video src="img/Coffeecup.mp4" poster="img/itb.jpg" autoplay loop></video>

  <div class="container">

    <div class="jumbotron text-center">
      <h1>!Fleurimond Coffee Shop!</h1>
      <h2>Best Organic Haitian Coffee</h2>
      <img src="img/coffee.jpg" alt="Coffee">

      <p>Login or Signup:</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

  </div>
</body>

</html>